* {
    margin: 0;
    padding: 0;
    min-width: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    font-family: Roboto, sans-serif;
    font-size: 1.4vw;
    min-height: 100vh;
    min-width: 880px;
    position: relative;
}

.header-bg-shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

.header-bg-shapes :nth-child(1) {
    position: absolute;
    top: -80px;
    width: 100%;
    height: 364px;
    overflow: hidden;
    transform: skewY(-9.3deg);
    transform-origin: 0;
    background: linear-gradient(172deg, #b721ff 1%, #21d4fd 90%);
}

.header-bg-shapes :nth-child(2) {
    position: absolute;
    width: 100%;
    height: 364px;
    overflow: hidden;
    top: -249px;
    transform: skewY(18deg);
    transform-origin: right;
    background: rgba(255, 240, 251, .7);
}

.header-bg-shapes :nth-child(3) {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 0;
    height: 700px;
    transform: skewY(24deg);
    transform-origin: right;
    background: rgba(149, 222, 255, .2);
}

header {
    height: 5vw;
    border-bottom: 2px solid hsla(0, 0%, 100%, .5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .logo-container {
    align-self: stretch;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo-container .logo {
    height: 90%;
}

header menu {
    align-self: stretch;
    display: flex;
    align-items: stretch;
    list-style: none;
    overflow: hidden;
    border-left: 1px solid hsla(0, 0%, 100%, .5);
    border-right: 1px solid hsla(0, 0%, 100%, .5);
}

header menu li {
    border-left: 1px solid hsla(0, 0%, 100%, .5);
    border-right: 1px solid hsla(0, 0%, 100%, .5);
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

header menu li a {
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

header menu li a:hover, header .logo-container:hover {
    background: rgba(255, 255, 255, 0.4);
}

header .login-container {
    margin-left: auto;
    width: 15vw;
    border-left: 2px solid hsla(0, 0%, 100%, .5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    color:#21d4fd;
}

header .login-container .login-icon {
    font-size: 3.5em;
}

header .login-container .login-description {
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.display-none {
    display: none !important;
}

.main-wrapper{
    min-height: 100vh;
    margin-bottom: -100px;
    padding-bottom: 100px;
}

main {
    color: #2e59c3;
    padding: 3vw 6vw;
}

main > div .main-card {
    padding: 1.5vw 3vw;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.20), 0 2px 12px rgba(0, 0, 0, 0.16);
}

.scraping-container {
    display: grid;
    grid-gap: 40px;
}

.scraping-container .main-card {
    display: grid;
    grid-gap: 24px;
}

.scraping-container .main-card h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scraping-container .main-card h1 .scraping-date-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.scraping-container .main-card h1 .scraping-date-container label {
    display: inline-flex;
    align-items: center;
    font-size: 0.7em;
}

.scraping-container .main-card h1 .scraping-date-container .scraping-date {
    background: #ffffff;
    border: 2px solid #333333;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 4px;
    height: 2.6vw;
    width: 10vw;
    margin-left: 8px;
    font-size: 0.9vw;
}

.scraping-container .main-card .site-container {
    display: grid;
    grid-gap: 20px;
}

.scraping-container .main-card .site-container .site-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 0.8em;
    color: #666666;
}

.scraping-container .main-card .site-add {
    justify-self: end;
    background: #cfdcf3;
    border: 2px solid #333333;
    border-radius: 8px;
    font-size: 1em;
    display: flex;
    color: #333333;
    justify-content: center;
    align-items: center;
    width: 16vw;
    height: 3vw;
    cursor: default;
    user-select: none;
}

.scraping-container .main-card .site-select {
    background: #ffffff;
    border: 2px solid #333333;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 4px;
    width: 20vw;
    height: 2.6vw;
}

.scraping-container .main-card .site-delete-button {
    justify-self: end;
    background: rgba(253, 116, 116, 0.4);
    border: 2px solid #333333;
    color: #333333;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.6vw;
    width: 10vw;
    cursor: default;
    user-select: none;
}

.scraping-container .main-card .site-tags-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin: 0 16px;
    align-items: center;
}

.scraping-container .main-card .site-tags-container .site-tag {
    background: #ffffff;
    border: 2px solid #333333;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 1.4vw;
    height: 2.6vw;
    cursor: default;
    user-select: none;
}

.scraping-container .main-card .site-tags-container .site-tag-all {
    background: #ffffff;
    border: 2px solid #333333;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 1.4vw;
    height: 2.6vw;
    cursor: default;
    user-select: none;
}

.scraping-container .main-card .site-tags-container .tag-selected {
    background: #cfdcf3;
    border: 2px solid #2E59C3;
    color: #444444;
}

.scraping-container .email-container {
    width: 55vw;
    display: flex;
}

.scraping-container .email-container .email-input {
    background: #ffffff;
    border: 2px solid #333333;
    border-radius: 8px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8px;
    width: 20vw;
    height: 3vw;
    font-size: 1.05em;
}

.scraping-container .email-container .email-send-button {
    background: #cfdcf3;
    border: 2px solid #333333;
    border-radius: 8px;
    font-size: 1em;
    display: inline-flex;
    color: #333333;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 12vw;
    cursor: default;
    user-select: none;
}

.scraping-container .email-container .email-file-types-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
}

.scraping-container .email-container .email-file-types-container .email-file-type {
    background: #ffffff;
    border: 2px solid #333333;
    border-radius: 8px;
    display: flex;
    color: #333333;
    align-items: center;
    padding: 0 1.6vw;
    height: 3vw;
    cursor: default;
    user-select: none;
}

.scraping-container .email-container .email-file-types-container .email-file-type.file-type-selected {
    background: #cfdcf3;
    border: 2px solid #2E59C3;
    color: #444444;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
}

footer .logo-container {
    align-self: stretch;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
}

footer .logo {
    height: 90%;
}

.footer-description{
    margin-left: 2.2vw;
    font-size: 0.8em;
}

.footer-bg-shapes {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    height: 240px;
    overflow: hidden;
}

.footer-bg-shapes :nth-child(1) {
    position: absolute;
    width: 100%;
    height: 364px;
    overflow: hidden;
    transform: skewY(-11.3deg);
    transform-origin: right center;
    bottom: -200px;
    background: linear-gradient(-183deg, rgb(33, 212, 253) 9%, rgb(183, 33, 255));
}

.footer-bg-shapes :nth-child(2) {
    position: absolute;
    width: 100%;
    height: 364px;
    overflow: hidden;
    bottom: -260px;
    transform: skewY(7deg);
    transform-origin: left center;
    background: rgba(149, 222, 255, 0.2);
}

/*@media only screen and (max-width: 1200px) {*/
/*    body {*/
/*        font-size: 10px;*/
/*    }*/
/*    main {*/
/*        padding: 20px 60px;*/
/*    }*/
/*    main > div .main-card {*/
/*         padding: 10px 20px;*/
/*     }*/
/*    .scraping-container .main-card h1 .scraping-date-container .scraping-date {*/
/*        margin-left: 6px;*/
/*    }*/
/*    .scraping-container .main-card .site-container {*/
/*         grid-gap: 16px;*/
/*     }*/

/*    .scraping-container .main-card .site-select {*/
/*        width: 220px;*/
/*    }*/

/*    .scraping-container .main-card .site-delete-button {*/
/*        width: 100px;*/
/*    }*/

/*    .scraping-container .main-card .site-tags-container {*/
/*        margin: 0 10px;*/
/*    }*/

/*    .scraping-container .main-card .site-tags-container .site-tag {*/
/*        padding: 0 12px;*/
/*    }*/

/*    .scraping-container .main-card .site-tags-container .site-tag-all {*/
/*        padding: 0 16px;*/
/*    }*/


/*    .scraping-container .email-container {*/
/*        width: 600px;*/
/*    }*/

/*    .scraping-container .email-container .email-input {*/
/*        padding: 0 6px;*/
/*        width: 240px;*/
/*    }*/

/*    .scraping-container .email-container .email-send-button {*/
/*        width: 120px;*/
/*    }*/

/*    .scraping-container .email-container .email-file-types-container .email-file-type {*/
/*        padding: 0 20px;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 1600px) {*/
/*    body {*/
/*        font-size: 22px;*/
/*    }*/
/*    main {*/
/*        padding: 80px 140px;*/
/*    }*/
/*    main > div .main-card {*/
/*        padding: 40px 80px;*/
/*    }*/
/*    .scraping-container .main-card h1 .scraping-date-container .scraping-date {*/
/*        padding: 0 8px;*/
/*        height: 40px;*/
/*        width: 160px;*/
/*        margin-left: 10px;*/
/*    }*/
/*    .scraping-container .main-card .site-container {*/
/*         grid-gap: 40px;*/
/*     }*/

/*    .scraping-container .main-card .site-container {*/
/*        display: grid;*/
/*        grid-gap: 20px;*/
/*    }*/

/*    .scraping-container .main-card .site-add {*/
/*        width: 180px;*/
/*        height: 56px;*/
/*    }*/

/*    .scraping-container .main-card .site-select {*/
/*        padding: 0 8px;*/
/*        width: 280px;*/
/*        height: 40px;*/
/*    }*/

/*    .scraping-container .main-card .site-delete-button {*/
/*        height: 40px;*/
/*        width: 160px;*/
/*    }*/

/*    .scraping-container .main-card .site-tags-container {*/
/*        margin: 0 36px;*/
/*    }*/

/*    .scraping-container .main-card .site-tags-container .site-tag {*/
/*        padding: 0 20px;*/
/*        height: 40px;*/
/*    }*/

/*    .scraping-container .main-card .site-tags-container .site-tag-all {*/
/*        padding: 0 26px;*/
/*        height: 40px;*/
/*    }*/

/*    .scraping-container .email-container {*/
/*        width: 1100px;*/
/*    }*/

/*    .scraping-container .email-container .email-input {*/
/*        padding: 0 12px;*/
/*        width: 340px;*/
/*        height: 56px;*/
/*    }*/

/*    .scraping-container .email-container .email-send-button {*/
/*        height: 56px;*/
/*        width: 200px;*/
/*    }*/

/*    .scraping-container .email-container .email-file-types-container .email-file-type {*/
/*        padding: 0 40px;*/
/*        height: 56px;*/
/*    }*/

/*    .footer-description{*/
/*        margin-left: 80px;*/
/*        font-size: 0.8em;*/
/*    }*/

/*}*/